#introduction {
	padding-top: 100px;
  background: linear-gradient(rgba(100,181,246 ,1), 
  	rgba(0,0,0,0.8)),
  	 url(background2.jpeg) 0% 0%/cover 
  	 /*height: 100vh;*/
}
.fill-viewport {
	min-height: 100vh;
}

#about {
	padding-top: 50px;
	background-color: white;
}
#login {
	padding-top: 100px;
	background-color: #D4F4F9;
}

#account {
	padding-top: 100px;
	background-color: #D4F4F9;
	padding-bottom: 100px;
}

.sections{
	margin:20px;
	padding: 20px;
	border-radius: 20px;
}

.navbar-nav > li{
  padding-left:10vw;
  padding-right:10vw;
}


h1{
	text-align: center;
	font-family: sans-serif;
	font-size: 90px;
	font-weight: bolder;
}

h2{
	text-align: center;
	font-family: courier;
	font-weight: bolder;
}

h4{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
#building_name{
	width: 100%;
	height: 70px;
	border: 2px dashed black;
	margin-top: 5%;
	text-align: center;
	font-size: 200%;
}

#loginForm{
	border: 10px solid white;
	border-radius: 40px;
	background-color: #EEEDE9;
	box-shadow: 10px black;
	padding: 10%;
	margin-left: 10%;
	margin-right: 10%
}


#buildingList{
border-bottom: 2px solid black;
}

label{
	font-weight: bold;
	font-size: 20px;
}

.navbar{
	background-color: #0E407D;
}

#tableHead{
	font-weight: bolder;
	border-bottom:4px solid black;
	margin-bottom: 10px;
}

#logout{
	background-color: red;
}

#hidden{
	display: none;
	size: 0px;
}
button{
	cursor: pointer;
}


#display{	
	padding-left: 450px;	
}
.hov: hover{
	cursor: pointer;
	background-color: white;
}
.align-search{
	padding-left: 450px;
	padding-top: 50px;
	vertical-align: middle;
	width: 750px;
}
.main-head{
	padding-top: 150px;
}
img.resize {
    width:540px; /* you can use % */
    height: auto;
}
a:hover {
	text-decoration: underline;
}
#message{
	size: 100px;
}