#home {
	padding-top: 100px;
}
#about {
	padding-top: 100px;
}
#login {
	padding-top: 100px;
}

.sections{
	padding-top:100px;
	padding: 10px;
	margin: 20px;
	height: 100vh;
}

.navbar-nav > li{
  padding-left:40px;
  padding-right:40px;
}

h1{
	text-align: center;
}

#building_name{
	width: 100%;
	height: 70px;
	border: 2px dashed black;
	margin-top: 15%;
	text-align: center;
}

